{% extends "users/base.html" %}

{% block title %}Upload Video - File Converter{% endblock %}

{% block content %}
<h1>Upload Video</h1>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if audio_path %}
    <div class="mt-3">
        <a href="{% url 'file_converter:download_file' audio_path %}" class="btn btn-success">Download Converted MP3</a>
    </div>
{% endif %}

{% endblock %}